.container {
  margin-top: 20px;
}

#cityDetails {
  margin-top: 30px;
}

#cityDetails h2 {
  margin-bottom: 10px;
}

#cityDetails p {
  margin: 5px 0;
}

#cityRank,
#cityPopulation2011,
#cityPopulation2001,
#cityState {
  font-weight: bold;
}
